*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
    border: none;
    text-decoration: none;
}
html{
    font-size: 62.5%;
    scroll-behavior: smooth;
}
nav{
    width: 100%;
    height: 50vh;
    background-image: url('../images/1.jpg');
    background-size: 100% 50vh;
    background-repeat: no-repeat;
    align-items: center;
    
}
nav header{
    display: flex;
    padding: 1.5rem 3rem;
}
nav header .logo img{
    width: 4rem;
    height: 4rem;
    margin-right: 47rem;
    
}

nav header .icons a{
    color: #f1f1f1;
    font-size: 2rem;
    margin-right: 4rem;
    font-weight: 200;
}
nav  .content{
    display: flex;
    flex-direction: column;
    margin-top: 3rem;
    width: 50rem;
    margin-left: 58rem;
    
}
nav  .content h1{
    font-size: 5rem;
    margin-bottom: 2rem;
    color: #ffc200;
    margin-left: 7rem;
}
nav  .content p{
    font-size: 2rem;
    color: #ffffff;
    margin-bottom: 2rem;
}
nav  .content button{
    width: 13rem;
    color: #333333;
    background-color: #ffc200;
    font-size: 1.3rem;
    padding: 1rem 2rem;
    font-weight: 900;
    border-radius: .3rem;
    margin-left: 7rem;
    cursor: pointer;


}
/* end of nav */
/* start best seller */
.best-seller{
    width: 100%;
    height: 50vh;
    padding: 5rem 5rem;
}
.best-seller h1{
    font-size: 3rem;
    margin-bottom: 2rem;
    text-align: center;
    color: #333333;
    font-weight: bold;

}
.best-seller .head-p{
    font-size: 1.5rem;
    font-weight: 200;
    text-align: center;
    color: #414141;

}
.card-container {
    display: flex;
    flex-direction: row;
    margin-top: 2rem;
    justify-content: space-around;
    align-items: center;
}
.card-container .card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.card-container .card img{
    width: 12rem;
    height: 12rem;
}
.card-container .card h4{
    font-size: 2.5rem;
}
.card-container .card p{
    color: #333333;
    font-size: 1.2rem;

}
.content-container{
    width: 100%;
    height: 100vh;
    background-image: url('../images/content-bg.jpg');
    background-size: 100% 100vh ;
    padding: 5rem 0rem;
    object-fit: cover;
}
.content-container .head{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    
}
.content-container .head .left {
    margin-left: -5rem;
    margin-right: 40rem;
}
.content-container .head .left img{
    width: 25rem;
    height: 25rem;
}
.content-container .head .right{
    display: flex;
    flex-direction: column;
    margin-top: -5rem;
    
}
.content-container .head .right h1{
    font-size: 4rem;
    margin-bottom: .2rem;
    color: #ffc200;
}
.content-container .head .right p{
    margin-bottom: .4rem;
    font-size: 1.3rem;
    color: #f1f1f1;
}
.content-container .head .right button{
    width: 13rem;
    color: #333333;
    background-color: #ffc200;
    font-size: 1.3rem;
    padding: 1rem 2rem;
    font-weight: 900;
    border-radius: .3rem;
    margin-left: 3rem;
    cursor: pointer;
}
.content-container .mid-1{
    text-align: center;
}
.content-container .mid-1 h1{
    font-size: 4rem;
    margin-bottom: .2rem;
    color: #ffc200;
}
.content-container .mid-1 p{
    font-size: 1.2rem;
    color: #ffffff;
    letter-spacing: .2rem;
}
.content-container .mid-2 {
    display: flex;
    flex-direction: row;
    width: 40rem;
    justify-content: space-between;
   
    margin: .5rem auto;
}
.content-container .mid-2 .card{
    border: .1rem solid white;
    border-radius: 50%;
    width: 8rem;
    height: 8rem;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}
.content-container .mid-2 .card span{
    font-size: 2rem;
    color: #ffc200;
    font-weight: bolder;
    margin-bottom: .3rem;
}
.content-container .mid-2 .card p{
    font-size: 2rem;
    font-weight: bolder;
    color: #ffffff;
}
.content-container .butn .right img{
    width: 25rem;
    height: 25rem;
}
.content-container .butn{
    display: flex;
    flex-direction: row;
    padding: .2rem 3rem;
}
.content-container .butn .right{
    margin-left: 50rem;
    margin-top: -4rem;
    margin-right: 10rem;
}
.content-container .butn .left{
    margin-left: 5rem;
    width: 50rem;
}
.content-container .butn .left h1{
    font-size: 4rem;
    margin-bottom: .2rem;
    color: #ffc200;
}
.content-container .butn .left p{
    font-size: 1rem;
    color: #ffffff;
    letter-spacing: .2rem;

}

.content-container .butn .left button{
    width: 13rem;
    color: #333333;
    background-color: #ffc200;
    font-size: 1.3rem;
    padding: 1rem 2rem;
    font-weight: 900;
    border-radius: .3rem;
    margin-left: 3rem;
    cursor: pointer;
    margin-top: .2rem;
}
.end-sec{
    width: 100%;
    height: 60vh;
    background-image: url('../images/cover.jpg');
    background-size: 100% 60vh;
    margin-top: 4rem;
}
.subscribe{
    width: 100%;
    height: 60vh;
    background-image: url('../images/cover2.jpg');
    background-size: 100% 60vh;
    padding: 5rem 5rem;
    text-align: center;
}
.subscribe h1{
    font-size: 3rem;
    margin-bottom: 2rem;

}
.subscribe p{
    font-size: 1.5rem;
    margin-bottom: 1.5rem;

}
.subscribe input{
    width: 25rem;
    padding: .7rem;
}
.subscribe button{
    background-color: #ffc200;
    padding: .7rem;
    border-radius: 0 .1rem .1rem 0;
    width: 7rem;
}
footer{
    min-height: 15rem;
    background-color: #414141;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 2rem;

}
footer .card{
    display: flex;
    flex-direction: column;
    flex-basis: 30%;
}
footer .card a{
    text-decoration: none;
    color: #ffffff;
}
footer .card a:hover{
    text-decoration:underline;
}
footer .first h1,footer .first h3,footer .second .active,footer .third .active{
    font-size: 2rem;
    color: #ffc200;
    margin-bottom: 1rem;
    
}
footer .first p{
    color: antiquewhite;
    font-size: 1.5rem;
    margin-bottom: .5rem;

}
footer .second,footer .third{
    font-size: 2rem;
}
